/* start home */
.carousel {
    max-height: 500px;
}

.carousel-inner {
    max-height: 500px;
}
/* end home */
/* start about */
#about {
    background-color: #eee;
    padding: 25px 0;
    margin: 0px 0px 30px 0px;
}

#about h3 {
    font-weight: 800;
    font-size: 30px;
}

#about p {
    font-size: 20px;
    line-height: 2;
}
/* end about */
/* start services */
#services h3 {
    font-weight: 800;
    font-size: 30px;
    margin: 30px auto;
    text-align: center;
}

#services img {
    width: 100%;
    max-height: 260px;
    min-height: 260px;
}

#btn {
    margin-bottom: 0px;
}
/* end services */
/* start contact */
.contact-info {
    font-size: 20px;
    line-height: 2;
}
/* end contact */
